<div class="informacion-container">
    <div class="card tarjeta" *ngFor="let deducible of deducibles" style="width: 18rem;">
        <img [ngSrc]="'assets/' + deducible.toLowerCase() + '.png'" 
             width="100" 
             height="100" 
             class="card-img-top" 
             alt="{{deducible}}" 
             priority>
        <div class="card-body">
            <h5 class="card-title">{{deducible}}</h5>
            <p class="card-text">Descripcion deducible!! <b>{{deducible}}</b></p>
            <button (click)="mensaje()" class="btn btn-info">Información</button>
        </div>
    </div>
</div>